/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
  --white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 70px;
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 auto;
}

h1 a {
  color: inherit;
  text-decoration: none;
  font-family: 'Bangers', cursive;
}

h1 a:hover {
  color: inherit;
}

h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./images/1866719.jpg);
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-basis: 80%;
}
/* END HEADER */

/* MAIN */
main {
  flex-grow: 1;
}
/* END MAIN */

/* WELCOME PAGE */
.welcomePage {
  background-color: var(--red-color);
  background-blend-mode: multiply;
  background-image: url(images/wolverine-no-claws.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.startingImg {
  background-image: url(images/wolverine.png);
}

.leftClaws {
background-image: url(images/wolverine-left-claw.png);
}

.rightClaws {
background-image: url(images/wolverine-right-claw.png);
}  

.leftBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
  justify-content: flex-end;
}

.rightBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
}

.btn-welcome {
  border: 2px solid var(--white-color);
  color: var(--white-color);
  padding: 12px 25px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  margin-top: 150px;
}

.btn-welcome:hover {
  border: 2px solid var(--white-color);
  color: var(--red-color);
  background-color: var(--white-color);
}

/* ERROR PAGE */
.quiz-bg {
  margin: 0;
  padding: 0;
  /* background-color: var(--dark-grey-color); */
  display: flex;
  justify-content: center;
}

.container {
  /* background-color: var(--white-color); */
  /* padding: 30px; */
  /* flex: 0 1 80%; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container img {
  margin: 30px 0;
}
/* END ERROR PAGE */

/* SIGNUP - LOGIN - FORGETPASSWORD */
.signUpLoginBox {
  background-image: url(images/bg-noise-texture.png);
  background-repeat: repeat;
  -webkit-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center;
}

.slContainer {
  flex: 0 1 80%;
  display: flex;
}

/* END SIGNUP - LOGIN - FORGETPASSWORD */

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 20px 0;
  padding: 20px 0;
  flex: 0 1 80%;
}

.footer-container p {
  color: var(--white-color);
  line-height: 19px;
  margin: 10px 0;
  text-align: center;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
