.quiz-bg {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
}

.container {
  padding: 30px;
  /* background-image: url(../../assets/images/Fond_matiere_BODY.png); */
  flex: 0 1 80%;
  display: flex;
  background-color: var(--white-color);
  flex-direction: column;
  align-items: stretch;
}

.signUpLoginBox img {
  margin: 30px auto;
  border-radius: 8px;
  max-width: 80%;
  height: auto;

}